<div class="row">
    <div class="col">
        <h1>{{artistDetail?.name}}</h1>
        <img src="{{ artistDetail?.image }}" alt="{{artistDetail?.name}} image">
    </div>
    <div class="col">
        <h3 i18n>
          Birth place
        </h3>
        <p>{{artistDetail?.birthplace}}</p>
        <h3 i18n>
          Birth date
        </h3>
        <p>{{artistDetail?.birthdate}}</p>
        <h3 i18n>Movements</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let movement of artistDetail?.movements">
                {{movement.name}}
                <em class="fa fa-chevron-right"></em>
            </li>
        </ul>
        <br/>
        <h3 i18n>Artworks</h3>
        <ng-container *ngIf="artistId; then pathRecoveredId; else notPathRecoveredId">
        </ng-container>
        <ng-template #pathRecoveredId>
            <a class="btn btn-primary" routerLink="artworks" i18n>Open artworks</a>
            <a class="btn btn-primary" routerLink="artworks/create" i18n>Add artwork</a>
        </ng-template>
        <ng-template #notPathRecoveredId>
            <a class="btn btn-primary" routerLink="{{ artistDetail?.id }}/artworks" i18n>Open artworks</a>&nbsp;&nbsp;
            <a class="btn btn-primary" routerLink="{{ artistDetail?.id }}/artworks/create" i18n>Add artwork</a>
        </ng-template>
    </div>
</div>
