<div *ngIf="selected">
  <app-exhibition-detail [exhibitionDetail]="selectedExhibicion" [museumDetail]="idMuseum"></app-exhibition-detail>
</div>

<div class="container-fluid">
  <hr />
  <h2 i18n>Exhibition list</h2>
  <hr />
  <div class="row">
    <div class="col-md-offset-10 col-md-12">
      <a class="btn btn-primary" href="museums/{{ idMuseum }}/exhibitions/create" i18n>New exhibit</a>&nbsp;
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let exhibition of exhibitions" class="col mb-2">
      <div class="card p-2">

        <div class="card-body">
          <a (click)="onSelected(exhibition.id)"> <h5 class="card-title">{{ exhibition.name }}</h5> </a>
        </div>
      </div>
    </div>
  </div>
</div>
