<main>

  <div class="container-fluid">
    <hr />
    <h1 i18n>Movements list</h1>
    <hr />
    <div class="row">
      <div class="col-md-offset-10 col-md-12">
        <a class="btn btn-primary" [routerLink]="['/movements/create']" i18n>New movement</a>&nbsp;
      </div>
    </div>
    <br>
    <div class="row">
      <table class='table table-striped' *ngIf="movements" alt="Table movements">
        <caption>Table movements</caption>
        <thead>
          <tr>
            <th id="name" i18n>Name</th>
            <th id="description" i18n>Description</th>
            <th id="countryOfOrigin" i18n>Country of origin</th>
            <th id="activeYears" i18n>Active years</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movement of movements">
            <td>{{ movement.name }}</td>
            <td>{{ movement.description }}</td>
            <td>{{ movement.countryOfOrigin }}</td>
            <td>{{ movement.activeYears }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </main>
