<div class="container-fluid" *ngIf="exhibition">
    <p class="h3 p-3">{{ exhibition.name }}</p>
    <div class="row">
        <div class="col-2">
            <div class="thumb">

            </div>
        </div>
        <div class="col">
            <dl>
                <dt class="bold">Descripción</dt>
                <dd>{{ exhibition.description }}</dd>
            </dl>
            <dl>
              <dt class="bold">Artworkws</dt>
              <dd>
                <div *ngFor="let artwork of exhibition.artworks" class="col mb-2" style="display: inline-block;">
                  <div class="card p-2" style="width: 15rem;">
                    <img
                      class="card-img-top pointer"
                      src="{{ artwork.mainImage }}"
                      alt="{{ artwork.name }}"
                    />
                    <div class="card-body">
                      <label class="card-title">{{ artwork.name }}</label>
                    </div>
                  </div>
                </div>
              </dd>
          </dl>

        </div>
    </div>
</div>
