<div class="container-fluid" *ngIf="museum">
  <p class="h3 p-3">{{ museum.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ museum.image }}"
          alt="{{ museum.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt i18n>Adress</dt>
          {{ museum.address }}

        <dt i18n>City</dt>
        <dd>{{ museum.city }}</dd>
        <hr />
        <dt class="bold" i18n>Exhibitions</dt>
        <a class="btn btn-primary" href="museums/{{ museum.id }}/exhibitions" i18n>Open exhibitions</a>
        <hr />
        <dt class="bold" i18n>Description</dt>
        <dd>{{ museum.description }}</dd>
      </dl>
    </div>
  </div>
</div>
