<!-- Modal -->
<div>
  <div class="modal-dialog">
    <form [formGroup]="artworkForm" (ngSubmit)="!artworkForm.invalid && create(artworkForm.value)">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n>Create a new artwork</h5>
      </div>
      <div class="modal-body">
          <!--Name-->
        <div class="form-group mx-sm-3 mb-2">
          <label for="name" i18n>Name</label>
          <input novalidate id="name" class="form-control" formControlName="name" placeholder="Name" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
      artworkForm.get('name')!.hasError('required') &&
      artworkForm.get('name')!.touched
    ">
              Name required
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="artworkForm.get('name')!.hasError('minlength')">
              Name very short
          </div>
      </div>

      <!--Decription-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="description" i18n>Description</label>
          <input novalidate id="description" class="form-control" formControlName="description" placeholder="Description" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
      artworkForm.get('description')!.hasError('required') &&
      artworkForm.get('description')!.touched
    ">
              Description required
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="artworkForm.get('description')!.hasError('minlength')">
            Description very short
          </div>
      </div>

      <!--Year-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="year" i18n>Year</label>
          <input novalidate id="year" class="form-control" formControlName="year" placeholder="Year" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
      artworkForm.get('year')!.hasError('required') &&
      artworkForm.get('year')!.touched
    ">
              Year required
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="artworkForm.get('name')!.hasError('minlength')">
             Year incomplete
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="artworkForm.get('name')!.hasError('minlength')">
             Year invalid
          </div>
      </div>

      <!--Tipo-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="type" i18n>Type</label>
          <input novalidate id="type" class="form-control" formControlName="type" placeholder="Author's birth date" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
    artworkForm.get('type')!.hasError('required') &&
    artworkForm.get('type')!.touched
  ">
              Type required
          </div>
      </div>

      <!--MainImage-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="mainImage" i18n>Main image</label>
          <input novalidate id="mainImage" class="form-control" formControlName="mainImage" placeholder="Tipo de obra" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
    artworkForm.get('mainImage')!.hasError('required') &&
    artworkForm.get('mainImage')!.touched
  ">
          Main image
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!artworkForm.valid" i18n>
          Create
        </button>
              <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()" i18n>
          Cancel
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
