<main>

  <div class="container-fluid">
    <hr />
    <h1>Sponsor list</h1>
    <hr />
    <div class="row">
      <div class="col-md-offset-10 col-md-12">
        <a class="btn btn-primary" [routerLink]="['/sponsors/create']">New sponsor</a>&nbsp;
      </div>
    </div>
    <br>
    <div class="row">
      <table class='table table-striped' *ngIf="sponsors" alt="Table sponsors">
        <caption>Table sponsors</caption>
        <thead>
          <tr>
            <th id="name">Name</th>
            <th id="description">Description</th>
            <th id="website">Website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sponsor of sponsors">
            <td>{{ sponsor.name }}</td>
            <td>{{ sponsor.description }}</td>
            <td>{{ sponsor.website }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </main>
